@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body {
  font-family: 'PT Sans' sans-serif;
    background-color: #252529;
    margin: 0;
    color:#fff;
    line-height: 1.6;
}
.navbar-dark, .navbar{
  min-height: 100px;
  font-weight: bold;
  font-size: 16px;
}
.navbar ul li a, a.navlink{
  color: #fff !important;
}
.navbar ul li a:hover{
  color: #ff0 !important;
}
a.list{
	text-decoration: none;
	color:#000;
}
#showcase{
  margin:0;
  padding: 0;
  background: url('../image/header-katalog.jpeg') no-repeat center/cover;
  width: 100%;
  height:100vh;
  position: relative;
  overflow-y:hidden;
 }
 #showcase .container{
      margin-top: 30vh;
  }
 #showcase h1{
 	color:#000000;
    font-size: 5rem;
    margin-bottom: 0;
  }

  #showcase h2{
  	color:#000000;
    font-size: 2rem;
  }
/* footer */
  footer .footer-cols{
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      padding:2rem;
      text-align: left;
      font-size: 14px;
  }

  footer .footer-cols ul{
      list-style: none;
  }

  footer .footer-cols ul li:first-child{
      font-size: 1.2rem;
      padding-bottom: 0.5rem;
      border-bottom: #444 solid 1px;
      margin-bottom: 1rem;
  }
  footer .footer-bottom{
      background: #333;
      padding: 1rem;
  }
